blobfile
cairosvg
drawSvg
imageio
matplotlib
mpi4py
networkx
numpy
opencv-python
Pillow
pytorch-fid
setuptools
Shapely
tensorflow
torch
torchvision
tqdm
webcolors
scikit-learn
scikit-spatial
scipy
tensorboard
msgpack
PyYAML
ConfigArgParse
urllib3
